@media screen and (max-width: 768px) {
  body {
    background-color: black;
    color: white;
  }
  .column {
  width: 100%;
  float: left;
  padding: 20px;
}
}
@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
img {
  width: 100%;
}
.column {
  float: left;
  width: 30%;
  margin: auto;
  padding: 10px;
}

.column:nth-child(4) a {
  color: green;
}
.column:nth-child(3) a {
  color: red;
}

.column:nth-child(2) a {
  color: purple;
}

a {
  text-decoration: none;
}

.column:nth-child(2) h2 {
  font-family: fantasy;
  font-size: 30px;
}

.column:nth-child(3) h2 {
  font-family: monospace;
  font-size: 30px;
}

.column:nth-child(4) h2 {
  font-family: sans-serif;
  font-size: 30px;
}
